<div class="flex-container">
  <div class="sentinel-flex-column" id="menu">
      <div class="information"><p>© 2017 Sentinel Perú SA - Todos los derechos reservados</p></div>
      <div class="information"><a class="link" routerLink="/app">Información Legal</a></div>
      <div class="information"><a class="link" routerLink="/app">Libro de Reclamaciones</a></div>
  </div>
  <div class="sentinel-flex-column" id="logo">
        <img class="logo-header" src="/assets/imagen/footer.jpg" width="150" height="35">
  </div>
  <div class="sentinel-flex-column">
  </div>
</div>