.responsive-img {
   width: 60%;
   height: auto;
   position: relative;
   top: 55px;
   left: 30px;
}
.background-login {
    background-image: url('/assets/imagen/fondowebppp.jpg');
    position: fixed;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}
.text-information {
    text-align: justify;
    font-family: Roboto;
}
.container {
    position: absolute;
    left: 4%;
    top: 15%;
    width: 30%;
}
p {
    text-align: justify;
    font-weight: bold;
    color: #4d4d4d;
}
h1, h2 {
    font-weight: bold;
}
.semaforo {
  width: 100px;
  height: 100px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #808080;
}
.flex-container {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 35px;
  top: 10%;
  width: 60%;
}
.sentinel-flex-information {
    padding-top: 15px;
}
.sentinel-flex-semaforo {
    padding-top: 20px;
}
.sentinel-flex-report {
    width: 30%;
}

