#left-content {
        width: 40%;
        padding-left: 30px;
    }

.responsive-img {
   width: 60%;
   height: auto;
   position: relative;
   top: 55px;
   left: 30px;
   margin-bottom: 80px;
}
.background-login {
    background-image: url('/assets/imagen/fondowebppp.jpg');
    position: fixed;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}
.box-login {
      background-color: #ffffff;
      position: relative;
      top: 75px;
      left: 55px;
      border-radius: 15px;
      -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
      box-shadow: 2px 3px 10px black;
      padding-left: 13%;
      padding-right: 14%;
      padding-top: 10%;
      padding-bottom: 20%;
}
.text-information {
    text-align: justify;
    font-family: Roboto;
}
.form-control {
    outline: none;
    box-shadow:none !important;
    border:0px solid #ccc;
    right: 25px;
}
.input-group {
    margin-left: 10px;
    margin-bottom: 10px;
}
#icon-user {
    border-width: 1px;
    border-bottom-color: #cccccc;
}
.label-user {
    margin-top: 12px;
    border-width: 1px;
    border-bottom-color: #cccccc;
}
.fa-user-circle {
    color: #999999;
    border-width: 1px;
    border-bottom-color: #cccccc;
}
.label-password {
    margin-top: 45px;
    border-width: 1px;
    border-bottom-color: #cccccc;
}
#icon-password {
    border-width: 1px;
    border-bottom-color: #cccccc;
}
#icon-passwordShow {
    margin-top: 6px;
    border-width: 1px;
    border-bottom-color: #cccccc;
    text-align: right
}
.fa-eye {
   color: #999999;
}
.fa-eye:active {
    color: #FD9526;
}
.fa-lock {
    color: #999999;
    padding-top: 6px;
    padding-left: 7px;
}
a {
    color: #FD9526;   
}
.form-check-input {
    width: 1.25rem;
    height: 1.25rem;
    position: relative;
    top: 30px;
    left: 10px;
}
.open-session {
    top: 28px;
    left: 10px;
    padding-left: 40px !important;
 }
 .forget-password {
     top: 28px; 
     left: 30px;
     padding-top: 26px !important;
 }
.button{
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    padding-right: 10%;
    position: relative;
    top: 50px;
    width: 70%;
}
.button2{
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    position: relative;
    top: 50px;
    width: 70%;
}
footer {
    position: relative;
    top: 80px;
    left: 55px;
    color: #f2f2f2;
    font-weight: bold;
}
.password-form {
    padding-top: 30px !important;
    justify-content: space-between;
}

.check-form {
    justify-content: space-between;
    flex-wrap: wrap;
}

.button-form {
    justify-content: space-between;
}

@media only screen and (min-width:601px) and (max-width: 1120px) {


     #left-content {
        width: 80%;
    }
}