  .margin-top-30 {
    margin-top: 30px !important;
  }
  .padding-top-40 {
    padding-top: 40px !important;
  }
  .padding-top-80 {
    padding-top: 80px !important;
  }
  .padding-top-100 {
    padding-top: 100px !important;
  }
  .padding-top-140 {
    padding-top: 140px !important;
  }
  .margin-top-120 {
    margin-top: 120px !important;
  }
  .no-padding {
      padding: 0px !important;
  }
  .si-padding-l {
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
  }
  .si-padding-r {
    padding-left: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
  }
  .margin-right-20 {
    margin-right: 20px !important;
  }
 .button-standard {
    background-color: #FD9526;
    border-radius: 4px;
    padding: 15px 0;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
  }
  .button-standard:active, .button-standard:hover {
    background-color: #FFFFFF;
    border-color: #FD9526;
    color: #FD9526;  
    font-weight: bold;
    font-size: 18px;
  } 
  .form-control {
    font-weight: 500;
    font-size: 18px;
    border: 0px;
    padding: 0px;
  }
  .form-control:active {
    border:0px;
    color: #f2f2f2;
  }
  .box-login .no-padding {
    border-bottom: 0px solid #d8d8d8;
  }
  
  