.background-image
{
    background-image: url("/src/assets/imagen/fondo.jpg");
    background-color: #FFFFFF;
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



.register {
    margin: 0 auto;
    position: relative;
    right: 400px;
    top: 200px;
    width: 540px;
    padding: 60px;
    background: #FFFFFF;
    border-radius: 15px;
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  }

  input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .register-input {
    display: block;
    width: 80%;
    height: 50px;
    margin-top: 30px;
    font-weight: 500;
    margin-left: 40px;
    background: none;
    border: 0;
    border-bottom: 1px solid #d8d8d8;
  }
  .register-input:focus {
    border-color: #1e9ce6;
    outline: 0;
  }
  .iconUser{
  position: absolute;
  left: 50px;
  top: 175px;
  }
  .iconPassword{
    position: absolute;
    left: 60px;
    top: 275px;
  }
