<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js">
</head>
<body>
    <img id="background-screen">
    <img id="logo">
        <div class="register">
            <app-message></app-message>
            <div class="icon-user">
                <h1 class="fa fa-user-circle fa-2x"></h1>
            </div>
            <div class="label-user">
                <input type="user" class="form-control" name="user" id="user" [(ngModel)]="model.user" #user="ngModel" [ngClass]="{ 'is-invalid': name.invalid }" required maxlength="12" placeholder="Usuario (DNI)"><br>    
            </div>
            <div>

            </div>
            <div>
                
            </div>
            <div class="icon-password">
                <h1 class="fa fa-lock fa-2x"></h1> 
            </div>
            <div class="label-password">
                <input type="password" class="form-control" name="password" id="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': password.invalid }" required maxlength="16" minlength="8" placeholder="Contraseña"> 
            </div>
            <span class="view-password">
                <h1 class="fa fa-eye fa-2x"></h1>
            </span>
            <div class="check-session">
                 <div class="form-check-inline">
                    <label class="form-check-label" for="check1">
                      <input type="checkbox" class="form-check-input" id="activeSession" name="activeSession">
                    </label>
                 </div>
            </div>
            <div class="message-checkbox">
                <p>No cerrar sesión</p>
            </div>
            <div class="recover-password">
              <a href="">Olvidé mi contraseña</a> 
            </div>
            <div class="start-session">
              <button type="button" class="btn btn-warning btn-md" name="startSession" id="startSession"><strong>Iniciar Sesión</strong></button>
            </div>
            <div class="create-account">
              <button type="button" class="btn btn-warning btn-md"><strong>Crear Cuenta</strong></button> 
            </div>
        </div>
</body>
</html>
