<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="background-image">
        <div class="register">
            <app-message></app-message>
            <div class="iconUser">
                <h1 class="fa fa-user fa-2x"></h1>
            </div>
            <div class="labelUser">
                <input type="user" class="register-input" name="user" placeholder="Usuario (DNI)"><br>    
            </div>
            <div class="iconPassword">
                <h1 class="fa fa-lock fa-2x"></h1> 
            </div>
            <div class="labelPassword">
                <input type="password" class="register-input" name="password" placeholder="Contraseña">
            </div>
            <div class="openSession">
                <input type="checkbox" name="sessionOpen"> <p>No cerrar sesión</p>
            </div>
        </div>
  </div>
</body>
</html>
