<div class="flex-container">
  <div class="flex-container sentinel-flex-column">
    <img class="logo-header" src="/assets/imagen/logo-sentinel.png" width="194" height="35">
  </div>
  <div class="flex-container sentinel-flex-column">
    <div class="option"><a class="link" routerLink="/app">Inicio</a></div>
    <div class="option"><a class="link" routerLink="mi-reporte">Mi Reporte</a></div>
    <div class="option"><a class="link" routerLink="mi-reporte">Reportes Personas / Empresas</a></div>
    <div class="option"><a class="link" routerLink="mi-reporte">Para mi Empresa</a></div>
    <div class="option"><a class="link" routerLink="mi-reporte">Otros servicios</a></div>
    <div class="option productos"><a class="link" routerLink="mi-reporte">Mis Productos</a></div>
  </div>
  <div class="flex-container sentinel-flex-column">
    <span class="dot"><p>0</p></span>
    <div class="shopping"><i class="material-icons" id="shopping-car">shopping_cart</i></div>
    <div class="configuration"><i class="fa fa-ellipsis-v fa-2x"></i></div>
  </div>
</div>