<div class="flex-container">
  <div class="flex-container sentinel-flex-column">
    <img class="logo-header" src="/src/assets/imagen/logo-sentinel.png" width="194" height="35">
  </div>
  <div class="flex-container sentinel-flex-column">
    <ul><a class="link" routerLink="/app">Inicio</a></ul>
    <ul><a class="link" routerLink="mi-reporte">Mi Reporte</a></ul>
    <ul><a class="link" routerLink="mi-reporte">Reportes Personas / Empresas</a></ul>
    <ul><a class="link" routerLink="mi-reporte">Para mi Empresa</a></ul>
    <ul><a class="link" routerLink="mi-reporte">Otros servicios</a></ul>
    <ul><a class="link" routerLink="mi-reporte">Mis Productos</a></ul>
  </div>
  <div class="flex-container sentinel-flex-column">
    <i class="material-icons" id="shopping-car">shopping_cart</i>
    <i class="fa fa-ellipsis-v fa-2x"></i>
  </div>
</div>