.logo-header {
   width: 100%; 
   height: auto;
}
.home {
    position: relative;
    left: 80px;
    bottom: 25px;
    border-color: #f2f2f2;
}
.material-icons {
    color: #999999;
}
.logo-header {
    margin-bottom: 15px;
    margin-left: 50px;
}
.flex-container {    
    display: flex;
    padding-top: 5px;
    align-items: space-between;
    flex-flow: row nowrap;
    align-self: center;
}
.sentinel-flex-column {
    display: flex;
    flex-flow: row nowrap;
    justify-items: center;
}
.link {
    color: #999999;
    border: 0px;
    text-decoration-line: none; 
}
.link :visited, :hover {
    color: green;
}
ul a :hover, :visited {
    border: 2px;
    border-bottom-color: green;
}



 