<div class="container">
  <img class="logo-header" src="/src/assets/imagen/logo-sentinel.png" width="203" height="55">
  <div class="home">
    <mat-tab-group>
      <mat-tab label="Inicio">
        <ng-template matTabContent>
         <div class="home-account">
           <p>hola</p>
         </div>
        </ng-template>
      </mat-tab>
      <mat-tab label="Mi Reporte">
        <ng-template matTabContent>
          The Second Content
        </ng-template>
      </mat-tab>
      <mat-tab label="Reportes Personas / Empresas">
       <ng-template> 

       </ng-template>
      </mat-tab>
      <mat-tab label="Para mi Empresa">
        <ng-template>

        </ng-template>
      </mat-tab>
      <mat-tab label="Otros servicios">
        <ng-template>

        </ng-template>
      </mat-tab>
      <mat-tab label="Mis productos">
         <ng-template>

         </ng-template>
      </mat-tab>
    </mat-tab-group>
    <nav>
      <i class="material-icons" id="shopping-car">shopping_cart</i>
    </nav>
  </div>
</div>