.logo-header {
   width: 15%;
   height: auto;
   position: relative;
   top: 20px;
   right: 80px;
}
.home {
    position: relative;
    left: 80px;
    bottom: 25px;
    border-color: #f2f2f2;
}
.material-icons {
    color: #999999;
}
.purchase {
   position: relative;
   bottom: 40px;
   left: 85%;
}

 