<div class="container">
  <img class="logo-header" src="/src/assets/imagen/logo-sentinel.png" width="203" height="55">
  <div class="home">
    <mat-tab-group>
      <mat-tab label="Inicio">
        <div>

        </div>
      </mat-tab>
      <mat-tab label="Mi Reporte"></mat-tab>
      <mat-tab label="Reportes Personas / Empresas"></mat-tab>
      <mat-tab label="Para mi Empresa"></mat-tab>
      <mat-tab label="Otros servicios"></mat-tab>
    </mat-tab-group>
    <div class="purchase">
      <i class="material-icons" id="car">shopping_cart</i>
    </div>
    <div class="configuration">
    </div>
  </div>
</div>